!!!
%html{:lang => "en"}
  %head
    / Basic
    %meta{:charset => "utf-8"}/
    %title OpenShift Origin - Open Source Platform-as-a-Service
    %meta{:content => "The next generation open source app hosting platform by Red Hat", :name => "description"}/
    / Mobile Metas
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    
    / Skins Theme
    %link.skin_color{:href => "#", :media => "screen", :rel => "stylesheet"}/

    / Theme CSS
    %link{:href => "css/style.css", :media => "screen", :rel => "stylesheet"}/
    
    / Responsive CSS
    %link{:href => "css/theme-responsive.css", :media => "screen", :rel => "stylesheet"}/
   
    %link{:href => "stylesheets/styles.css", :media => "screen", :rel => "stylesheet"}/

    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700", :rel => "stylesheet", :type => "text/css"}/

    / Favicons
    %link{:href => "img/icons/favicon.png", :rel => "shortcut icon"}/
    %link{:href => "img/icons/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    /[if IE]
      <link rel="stylesheet" href="css/ie/ie.css">
    /[if lte IE 8]
      <script src="js/responsive/html5shiv.js"></script>
      <script src="js/responsive/respond.js"></script>
  %body
    #layout.layout-wide
      / Header Section
      %header.index_static
        .nav_logo.animated.fadeIn
          .container
            .row
              %nav.col-md-12
                %ul#menu.sf-menu
                  %li 
                    %a{:href => "#try"} TRY OPENSHIFT
                  %li
                    %a{:href => "#v3"} WHAT'S COMING NEXT
                  %li 
                    %a{:href => "#contribute"} CONTRIBUTE
                  %li
                    %a{:href => "http://openshift.github.io/documentation/"} DOCUMENTATION
        %section.content_info
          / Parallax Background
          .bg_parallax.image_03_parallax
          / Parallax Background
          / Content Parallax
          %section.opacy_bg_02.paddings
            / Info Head Static
            .container
              .row
                .col-md-12
                  .logo.wow.fadeIn.delay
                    %a{:href => "index.html", :title => "Back to Home"}
                      %img.logo_img{:alt => "Logo", :src => "img/origin_logo.svg"}/
                  %h1.animated.fadeInDown.delay
                    Establishing the next generation of PaaS.
                  %p.animated.fadeInUp.delay OpenShift 3 is built around a core of application containers powered by Docker, with orchestration and management provided by Kubernetes, on a foundation of Atomic and Enterprise Linux. Origin Milestone 5 (M5) is the upstream community project that brings it all together along with extensions, to accelerate application development and deployment.
      %section.timeline-responsive
        %section.contributions
        .opacy_bg_03
          .container
            .paddings
              %ul#timeline
                %li.entry
                  %label
                    %span
                      OpenShift PaaS launches in developer preview at OpenShift.com
                  %span.date May 2011
                  %span.circle
                %li.entry
                  %label
                    %span
                      OpenShift Enterprise 1.0 released for general availability
                  %span.date Nov 2012
                  %span.circle
                %li.entry
                  %label
                    %span
                      OpenShift Online - Fully supported public PaaS announced
                  %span.date June 2013
                  %span.circle
                %li.entry
                  %label
                    %span
                      Announced Docker & Kubernetes based OpenShift 3 platform
                  %span.date Aug 2014
                  %span.circle
                %li.entry.spotlight
                  %label
                    %span
                      %a{:href => "#v3"}OpenShift 3 / Origin M5
                  %span.date Coming 2015
                  %span.circle.circle-big

      #try.info_title.wow.fadeInDown
        %i.fa.fa-download.left
        .vertical_line
          .circle_bottom
        .info_vertical.animated
          %h1
            Try Our Current OpenShift
            %span Origin M4
        .padding_bottom
          .container.wow.fadeInUp
            .row.text-center
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                %h2 On your network
                %p 
                  Want to deploy OpenShift Origin into your network? 
                  %a.strong{:href => "https://install.openshift.com/"} install.openshift.com 
                  is your one-stop, one-command deployment utility. Give it a try!

              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                %h2 On your laptop
                %p
                  Want to hit the ground running with a pre-built, all-in-one OpenShift system?
                  %a.strong{:href => "https://mirror.openshift.com/pub/origin-server/release/4/images/openshift-origin.tgz"} Download an image
                  suitable for running on a VM. The image will work on
                  = succeed "," do
                    %a{:href => "http://www.linux-kvm.org/page/Main_Page"} KVM
                    %a{:href => "https://www.virtualbox.org/"} VirtualBox
                  or
                  = succeed "." do
                    %a{:href => "http://www.vmware.com/"} VMWare
                  You can read more about the Origin VM in the
                  = succeed "." do
                    %a{:href => "http://openshift.github.io/documentation/oo_deployment_guide_vm.html"} VM Deployment Guide
                %p
                  %a{:href => "http://openshift.github.io/documentation/oo_deployment_guide_puppet.html"} You can also build your own machine using Puppet
                  or
                  follow the
                  %a{:href => "http://openshift.github.io/documentation/oo_deployment_guide_comprehensive.html"} comprehensive guide
                  and deploy OpenShift Origin manually
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                %h2 Online
                %p
                  You can try out OpenShift for free with OpenShift Online. Just
                  %a.strong{:href => "https://www.openshift.com/app/account/new"} sign up for an OpenShift Online account
                  and create your first application in minutes.

      %section.content_info#v3.latest-news
        .opacy_bg_01.paddings
          .container
            .row
              .col-md-12.text-center
                .info_vertical.padding_bottom
                  %h1
                    See whats coming in   
                    %span OpenShift 3
                  %p
                    With each
                    %a{:href => "https://blog.openshift.com/how-we-number-openshift-origin-and-enterprise-releases/"}  milestone of Origin
                    comes a new version of OpenShift. And now that the
                    %a{:href => "https://github.com/openshift/origin"} Origin M5 source code repo
                    for OpenShift 3 is available, we're progressing towards a whole new architecture entirely re-engineered from the ground up.
                    This new architecture integrates
                    %a{:href => "http://www.docker.com"}Docker 
                    and the
                    = succeed "." do
                      %a{:href => "https://github.com/GoogleCloudPlatform/kubernetes"} Kubernetes 
                      container orchestration and management system, available on an
                      %a{:href => "http://www.projectatomic.io/"}Atomic 
                      host optimized for running containerized applications
                    On top of all that, OpenShift will incorporate effective and efficient DevOps workflows that play a critical role in platform-as-a-service to accelerate application delivery.
            .row
              .col-md-6
                :plain
                  <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="//www.youtube.com/v/1hDEe0_sk0o" width="300" height="150"></iframe></div>
                %p 
                  Krish Sumaranian, Director of OpenShift Strategy, and Clayton Coleman, engineering lead for OpenShift talk about what’s up and coming OpenShift 3.
              .col-md-6
                / Item Service-02
                .col-sm-6.col-md-12
                  .service-02
                    %h3
                      %a{:href => "https://blog.openshift.com/openshift-v3-platform-combines-docker-kubernetes-atomic-and-more/"}
                        OpenShift v3 Platform Combines Docker, Kubernetes, Atomic and More
                      %span AUGUST 14, 2014
                / End Item Service-02
                / Item Service-02
                .col-sm-6.col-md-12
                  .service-02
                    %h3
                      %a{:href => "https://blog.openshift.com/openshift-v3-deep-dive-docker-kubernetes/"}
                        OpenShift v3 Deep Dive Tutorial | The Next Generation of PaaS
                      %span OCTOBER 23, 2014
                / End Item Service-02
                / Item Service-02
                .col-sm-6.col-md-12
                  .service-02
                    %h3
                      %a{:href => "https://blog.openshift.com/openshift-v3-standardizing-container-orchestration-management-kubernetes/"}
                        OpenShift v3: Standardizing Container Orchestration and Management with Kubernetes
                      %span OCTOBER 31, 2014
                / End Item Service-02
                / Item Service-02
                .col-sm-6.col-md-12
                  .service-02
                    %h3
                      %a{:href => "https://blog.openshift.com/kubernetes-docker-app-packaging/"}
                        Podcast: Docker, Kubernetes, and App Packaging with Red Hat’s Mark Lamourine
                      %span NOVEMBER 4, 2014
                / End Item Service-02

      %section.content_info
        #tech.info_title.wow.fadeInUp
          %i.fa.fa-cubes.left
          .vertical_line
            .circle_bottom
          .info_vertical.animated
            %h1
              Standarization through
              %span Containerization
            %p "Standards are powerful forces in the software industry. They can drive technology forward by bringing together the combined efforts of multiple developers, different communities, and even competing vendors."
          .paddings
            .container.wow.fadeInUp
              .row
                .col-sm-4.col-md-4
                  .technology-section
                    .head-tech
                      %img.logo_tech{:alt => "Docker logo", :src => "img/logo-docker-h.svg"}/
                    .caption-tech
                      %h3 Docker container runtime and image model
                      %p Standarized portable containers for any app, any language, using any toolchain. 
                      %a{:href => "https://www.docker.com/whatisdocker/"} Learn more

                .col-sm-4.col-md-4
                  .technology-section
                    .head-tech
                      %img.logo_tech{:alt => "Kubernetes logo", :src => "img/logo-kubernetes-h.svg"}/
                    .caption-tech
                      %h3 Container Orchestration at Scale with Kubernetes.
                      %p Providing basic mechanisms for deployment, maintenance, and scaling of applications 
                      %a{:href => "http://kubernetes.io/"} Learn more

                .col-sm-4.col-md-4
                  .technology-section
                    .head-tech
                      %img.logo_tech{:alt => "Project Atomic logo", :src => "img/logo-atomic-h.svg"}/
                    .caption-tech
                      %h3 A lean and mean OS built specifically for containers 
                      %p Harnesses the power of upstream packages plus the ability to perform atomic upgrades and rollbacks
                      %a{:href => "http://www.projectatomic.io/docs/"} Learn more
                / End Item Service-01
      
      %section.content_info.contributions
        .opacy_bg_01.paddings
          .container
            .row
              .col-md-12.text-center
                .info_vertical
                  %h1 
                    Open Source 
                    %span Contributions
                  %p
                    OpenShift is about upstream collaboration as much as it's about platform as a service. Just take a look at how much we're contirbuting to both our own projects as well as others.
            .row
              / Left Content
              .col-md-9.wow.fadeInLeft
                / Resul Zone
                .table-responsive
                  %table.table.contributions
                    %tr
                      %th Open Source Project
                      %th Red Hat Commits last 30 days
                      %th Red Hat Pull Requests last 30 days
                      %th Issues involved in last 30 days
                    %tr
                      %td
                        %a{:href => "https://github.com/openshift/origin"}Origin
                      %td 176
                      %td 93
                      %td 19
                    %tr
                      %td 
                        %a{:href => "https://github.com/docker/docker"}Docker
                      %td 49
                      %td 18
                      %td 1
                    %tr
                      %td
                        %a{:href => "https://github.com/googlecloudplatform/kubernetes"}Kubernetes
                      %td 103
                      %td 47
                      %td 106
                    -# %tr
                    -#   %td Project Atomic
                    -#   %td ???
                    -#   %td ???
                    -#   %td ???
                    -#   %td ???
                    -#   %td 19
              / End Left Content
              / Image animation - Right Content
              .col-md-3.wow.fadeInRight
                %i.fa.fa-github.right
              / End Image animation - Right Content
              .col-md-10.wow.fadeInLeft.text-center
                %p As of 11-18-2014
      #contribute.info_title.wow.fadeInUp
        .vertical_line
          .circle_bottom
        .info_vertical.animated
          %h1
            Contribute to OpenShift
            %span Origin
          %p We know you've got great ideas for improving OpenShift Origin. So roll up your sleeves and come join us in the community.  
        %i.fa.fa-code.right
        .paddings
          .container.wow.fadeInUp
            .row
              .col-xs-12.col-sm-6.col-md-6.col-lg-6
                %h2 Extend OpenShift
                %p You can add new runtimes and frameworks to OpenShift with community cartridges and quickstarts.
                %p
                  The Origin M5/OpenShift 3 architecture builds upon the flexibility and scalability of Docker and Kubernetes to deliver a powerful new Platform as a Service system.
                %p
                  All contributions are welcome - OpenShift uses the Apache 2 license and does not require any contributor agreement to submit patches. Please open issues for any bugs or problems you encounter, ask questions on the OpenShift IRC channel (#openshift-dev on freenode), or get involved in the 
                  %a{:href => "https://github.com/GoogleCloudPlatform/kubernetes"} Kubernetes 
                  project at the container runtime layer.
                %h2 Take a look at the Trello Board
                %p 
                  The OpenShift project
                  %a{:href => "https://trello.com/b/nlLwlKoz/openshift-origin-roadmap"} roadmap lives on Trello. 
                  Here is a sampling of topics for those who want to get involved with OpenShift 3:
                  %ul
                    %li 
                      %a{:href => "https://trello.com/c/TZPhbN79"} Docker Integration
                  %ul
                    %li 
                      %a{:href => "https://trello.com/c/ja8bbQwy"} Kubernetes Networking
                  %ul
                    %li
                      %a{:href => "https://trello.com/c/3zHeVSla"} Routing and Load Balancing
              .col-xs-12.col-sm-6.col-md-6.col-lg-6
                %h2 Hack on the source code
                %ul
                  %li
                    Get started with the
                    %a{:href => "https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc"} Contributors Guide
                  %li
                    Fork
                    = succeed "." do
                      %a{:href => "https://github.com/openshift/origin"} the repository
                  %li
                    Read the
                    = succeed "." do
                      %a{:href => "https://github.com/openshift/origin/tree/master/docs"} Origin 3 documentation
                  %li
                    Check out the other repositories we're working on:
                    %ul
                      %li
                        %a{:href => "https://github.com/GoogleCloudPlatform/kubernetes"} Google 
                      %li
                        %a{:href => "https://github.com/docker/docker"} Docker
                      %li
                        %a{:href => "https://github.com/projectatomic/"} Project Atomic
                %h2 File a bug
                %p
                  Found a bug? Let us know! OpenShift uses a
                  = succeed "." do
                    %a{:href => "https://bugzilla.redhat.com/describecomponents.cgi?product=OpenShift%20Origin"} public Bugzilla instance
                %h2 Talk to us
                %ul
                  %li
                    %a{:href => "http://lists.openshift.redhat.com/openshiftmm/listinfo"} Join the public user or development mailing lists.
                  %li
                    %a{:href => "http://webchat.freenode.net/?randomnick=1&channels=openshift-dev&uio=d4"} Join the #openshift-dev channel on Freenode
      /footer              
      %footer
        .container
          .row
            / Social Section
            .col-md-6.col-sm-12
              %a{:href => "https://www.redhat.com/"}
                %img{:alt => "Red Hat", :src => "https://assets.openshift.net/app/assets/redhat.svg"}/
            .col-md-6.col-sm-12
              %ul.social
                %li.twitter
                  %a{:href => "https://twitter.com/openshift"}
                    %span
                      %i.fa.fa-twitter-square
                %li.github
                  %a{:href => "https://github.com/openshift/origin-server"}
                    %span
                      %i.fa.fa-github
                %li.google
                  %a{:href => "https://plus.google.com/communities/114361859072744017486"} 
                    %span
                      %i.fa.fa-google-plus-square
                %li.facebook
                  %a{:href => "https://www.facebook.com/openshift"}
                    %span
                      %i.fa.fa-facebook-square
      / End footer
      / footer
    / End layout
    / ======================= JQuery libs ===========================
    / jQuery local
    %script{:src => "js/jquery.js", :type => "text/javascript"}
    / Nav
    %script{:src => "js/nav/tinynav.js", :type => "text/javascript"}
    %script{:src => "js/nav/superfish.js", :type => "text/javascript"}
    %script{:src => "js/nav/hoverIntent.js", :type => "text/javascript"}
    / %script{:src => "js/nav/jquery.sticky.js", :type => "text/javascript"}
    / Totop
    %script{:src => "js/totop/jquery.ui.totop.js", :type => "text/javascript"}
    / Slide
    %script{:src => "js/rs-plugin/js/jquery.themepunch.tools.min.js", :type => "text/javascript"}
    %script{:src => "js/rs-plugin/js/jquery.themepunch.revolution.min.js", :type => "text/javascript"}
    / owl-carousel
    %script{:src => "js/carousel/owl.carousel.js", :type => "text/javascript"}
    / Ligbox
    %script{:src => "js/fancybox/jquery.fancybox.pack.js", :type => "text/javascript"}
    / Gallery Grid
    %script{:src => "js/gallery/modernizr.custom.26633.js", :type => "text/javascript"}
    %script{:src => "js/gallery/jquery.gridrotator.js", :type => "text/javascript"}
    / Minislider Team
    %script{:src => "js/team/modernizr.custom.63321.js", :type => "text/javascript"}
    %script{:src => "js/team/jquery.catslider.js", :type => "text/javascript"}
    / Filters
    %script{:src => "js/filters/jquery.isotope.js", :type => "text/javascript"}
    / Theme Options
    %script{:src => "js/theme-options/theme-options.js", :type => "text/javascript"}
    %script{:src => "js/theme-options/jquery.cookies.js", :type => "text/javascript"}
    / Twitter Feed
    %script{:src => "js/twitter/jquery.tweet.js", :type => "text/javascript"}
    / WOW-master
    %script{:src => "js/animations/wow.min.js", :type => "text/javascript"}
    / Parallax
    %script{:src => "js/parallax/jquery.inview.js", :type => "text/javascript"}
    %script{:src => "js/parallax/nbw-parallax.js", :type => "text/javascript"}
    / Bootstrap.js
    %script{:src => "js/bootstrap/bootstrap.js", :type => "text/javascript"}
    / fUNCTIONS
    %script{:src => "js/main.js", :type => "text/javascript"}
    / ======================= End JQuery libs ===========================
